{{page-title "EmberViteMirage"}}

{{outlet}}

<ul>
{{#each @model as |user|}}
  <li>
    {{user.name}}
      <ul>
        {{#each user.comments as |comment|}}
          <li>{{comment.id}}</li>
        {{/each}}
      </ul>
  </li>
{{/each}}
</ul>